.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.holiday-event {
  background-color: #ffdada !important; /* ピンク色にする */
}

.fc-toolbar-chunk {
  display: flex !important; /* フレックスボックスで横並び */
  align-items: center; /* 垂直方向の中央揃え */
  gap: 10px; /* ボタンとタイトルの間隔 */
}
.fc-toolbar.fc-header-toolbar {
  margin-top: 1.5rem;
}
